.reason-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .reason-header {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .super-title {
        color: gold;
        font-size: 18px; /* Increased font size for better readability */
        margin-bottom: 10px; /* Add margin for spacing */
    }

    .reason-to-shop {
        color: white;
        font-size: 36px; /* Increased font size for better readability */
        font-weight: bold;
        text-align: center; /* Center align text */
    }

    .reason-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; /* Allow wrapping on smaller screens */
        gap: 20px; /* Add spacing between cards */
        justify-content: center; /* Center align cards */
        width: 100%; /* Full width */
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
}
