/* Base Styles */
.hero-container {
    background-image: url('/src/assets/backgrounds/banner.png');
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image from repeating */
    margin-top: 100px;
}

/* Medium Devices (Tablets) */
@media (max-width: 1024px) {
    .hero-container {
        height: 50vh; /* Adjust height for tablets */
    }
}

/* Small Devices (Phones) */
@media (max-width: 768px) {
    .hero-container {
        height: 40vh; /* Adjust height for phones */
    }
}

/* Extra Small Devices (Phones in Portrait Mode) */
@media (max-width: 480px) {
    .hero-container {
        height: 30vh; /* Adjust height for very small screens */
    }
}
