.footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    align-items: center;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer-content {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 80%;
}

.footer-logo img {
    max-width: 150px;
    margin-bottom: 20px;
}

.footer-logo p {
    max-width: 250px;
    color: #6c757d;
}

.footer-subscribe {
    margin-top: 20px;
}

.footer-subscribe input[type='email'] {
    padding: 8px;
    width: 70%;
    border: 1px solid #ced4da;
    border-radius: 4px 0 0 4px;
}

.footer-subscribe button {
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.footer-links {
    margin-top: 40px;
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
    }
}
