/* Base Styles */
.header-container {
    position: fixed; /* Default to fixed position */
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

/* Styles for search page */
.header-container.search-page {
    position: static; /* Change to static on search page to take up space */
    transform: none; /* Ensure no transformation */
    /* Additional styles to ensure it’s always visible */
}

/* Hidden and Visible States */
.header-container.hidden {
    transform: translateY(-100%);
}

.header-container.visible {
    transform: translateY(0);
}

/* Medium Devices (Tablets) */
@media (max-width: 1024px) {
}

/* Small Devices (Phones) */
@media (max-width: 768px) {
}

/* Extra Small Devices (Phones in Portrait Mode) */
@media (max-width: 480px) {
}
