.search-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 50px;
    width: 70vw;
    margin-bottom: 100px;

    .search-label {
        font-size: 40px;
        display: flex;
        width: 100%;
        font-weight: bold;
    }

    .result-area {
        width: 100%;
    }
}
